<header>
  <div class="wrapper">
    <h1 class="page-title text-center">Recent Projects</h1>
    <hr class="underline">
  </div>
</header>

<div class="posts-wrapper small-wrapper">
  <div class="post">
    <h2 class="post-title text-center"><a href="#">Alpha Blog App</a></h2>
    <p class="project-skills text-center">HTML, Sass, Ruby on Rails</p>
    <div class="img-wrapper text-center">
      <img class="post-image text-center" src="<%= asset_path( 'ocean.jpg' ) %>" alt="" />
    </div>
    <p class="post-description">This a small, not relevent description of an article that does not have anything within. Much like life. Here are some more words to fill in the space, ya know what I am saying, dude?</p>
    <hr class="underline">
  </div>
  <div class="post">
    <h2 class="post-title text-center"><a href="#">Alpha Blog App</a></h2>
    <p class="project-skills text-center">HTML, Sass, Ruby on Rails</p>
    <div class="img-wrapper text-center">
      <img class="post-image text-center" src="<%= asset_path( 'ocean.jpg' ) %>" alt="" />
    </div>
    <p class="post-description">This a small, not relevent description of an article that does not have anything within. Much like life. Here are some more words to fill in the space, ya know what I am saying, dude?</p>
    <hr class="underline">
  </div>
  <div class="post">
    <h2 class="post-title text-center"><a href="#">Alpha Blog App</a></h2>
    <p class="project-skills text-center">HTML, Sass, Ruby on Rails</p>
    <div class="img-wrapper text-center">
      <img class="post-image text-center" src="<%= asset_path( 'ocean.jpg' ) %>" alt="" />
    </div>
    <p class="post-description">This a small, not relevent description of an article that does not have anything within. Much like life. Here are some more words to fill in the space, ya know what I am saying, dude?</p>
    <hr class="underline">
  </div>
  <div class="post">
    <h2 class="post-title text-center"><a href="#">Alpha Blog App</a></h2>
    <p class="project-skills text-center">HTML, Sass, Ruby on Rails</p>
    <div class="img-wrapper text-center">
      <img class="post-image text-center" src="<%= asset_path( 'ocean.jpg' ) %>" alt="" />
    </div>
    <p class="post-description">This a small, not relevent description of an article that does not have anything within. Much like life. Here are some more words to fill in the space, ya know what I am saying, dude?</p>
    <hr class="underline">
  </div>
  <div class="post">
    <h2 class="post-title text-center"><a href="#">Alpha Blog App</a></h2>
    <p class="project-skills text-center">HTML, Sass, Ruby on Rails</p>
    <div class="img-wrapper text-center">
      <img class="post-image text-center" src="<%= asset_path( 'ocean.jpg' ) %>" alt="" />
    </div>
    <p class="post-description">This a small, not relevent description of an article that does not have anything within. Much like life. Here are some more words to fill in the space, ya know what I am saying, dude?</p>
    <hr class="underline">
  </div>
  <div class="post">
    <h2 class="post-title text-center"><a href="#">Alpha Blog App</a></h2>
    <p class="project-skills text-center">HTML, Sass, Ruby on Rails</p>
    <div class="img-wrapper text-center">
      <img class="post-image text-center" src="<%= asset_path( 'ocean.jpg' ) %>" alt="" />
    </div>
    <p class="post-description">This a small, not relevent description of an article that does not have anything within. Much like life. Here are some more words to fill in the space, ya know what I am saying, dude?</p>
    <hr class="underline">
  </div>
  <div class="post">
    <h2 class="post-title text-center"><a href="#">Alpha Blog App</a></h2>
    <p class="project-skills text-center">HTML, Sass, Ruby on Rails</p>
    <div class="img-wrapper text-center">
      <img class="post-image text-center" src="<%= asset_path( 'ocean.jpg' ) %>" alt="" />
    </div>
    <p class="post-description">This a small, not relevent description of an article that does not have anything within. Much like life. Here are some more words to fill in the space, ya know what I am saying, dude?</p>
    <hr class="underline">
  </div>

</div>
