<section id="projects">
  <div class="wrapper">
    <header>
        <h1 class="page-title text-center">Recent Projects</h1>
        <hr class="underline">
    </header>


    <div class="projects-wrapper clearfix">
      <div class="col-5 text-center">
        <div class="project">
          <h2 class="project-title">Pearson Dynamics</h2>
          <div class="img-wrapper">
            <img class="post-image text-center" src="<%= asset_path( 'david-laptop.png' ) %>" alt="Pearson Dynamics Home Page" />
          </div>
          <p>HTML5, Sass, JavaScript</p>
          <a class="btn text-center" href="http://pearsondynamics.co/" target="_blank">View Site</a>
        </div>

        <div class="project">
          <h2 class="project-title text-center">Simon Says</h2>
          <p class="project-skills text-center"></p>
          <div class="img-wrapper text-center">
            <img class="post-image text-center" src="<%= asset_path( 'simon.png' ) %>" alt="Pearson Dynamics Home Page" />
          </div>
          <p>HTML5, Sass, JavaScript</p>
          <a class="btn text-center" href="http://simonsaysso.bitballoon.com/" target="_blank">View Site</a>
        </div>
      </div>

      <div class="col-6 text-center">
        <div class="project">
          <h2 class="project-title">React Todo.</h2>
          <p class="project-skills"></p>
          <div class="img-wrapper text-center">
            <img class="post-image text-center" src="<%= asset_path( 'todo.png' ) %>" alt="Pearson Dynamics Home Page" />
          </div>
          <p>HTML5, Sass, React</p>
          <a class="btn text-center" href="http://young-tor-32593.herokuapp.com/" target="_blank">View Site</a>
        </div>

        <div class="project">
          <h2 class="project-title text-center">Pomodoro Timer</h2>
          <p class="project-skills text-center"></p>
          <div class="img-wrapper text-center">
            <img class="post-image text-center" src="<%= asset_path( 'timer-laptop.png' ) %>" alt="Pearson Dynamics Home Page" />
          </div>
          <p class="text-center">HTML5, CSS3, JavaScript</p>
          <a class="btn text-center" href="http://pomodorotimer.bitballoon.com/" target="_blank">View Site</a>
        </div>

      </div>

      <div class="col-7 text-center">
        <div class="project">
          <h2 class="project-title text-center">Weather Me Up!</h2>
          <p class="project-skills text-center"></p>
          <div class="img-wrapper text-center">
            <img class="post-image text-center" src="<%= asset_path( 'weather-app.png' ) %>" alt="Pearson Dynamics Home Page" />
          </div>
          <p class="text-center">HTML5, Sass, JavaScript/AJAX</p>
          <a class="btn text-center" href="http://weathermeup.bitballoon.com/" target="_blank">View Site</a>
        </div>

        <div class="project">
          <h2 class="project-title text-center">Tic-Tac-Toe</h2>
          <p class="project-skills text-center"></p>
          <div class="img-wrapper text-center">
            <img class="post-image text-center" src="<%= asset_path( 'tictac.png' ) %>" alt="Pearson Dynamics Home Page" />
          </div>
          <p class="text-center">HTML5, CSS3, JavaScript</p>
          <a class="btn text-center" href="http://tictactoed.bitballoon.com/" target="_blank">View Site</a>
        </div>

      </div>

    </div>
  </div><!-- end projects-wrapper-->
</section>
