<section id="projects">
  <div class="wrapper">
    <header>
        <h1 class="page-title text-center">Recent Projects</h1>
        <hr class="underline">
    </header>


    <div class="projects-wrapper clearfix">
      <div class="col-5">
        <div class="project">
          <h2 class="project-title text-center">Pearson Dynamics</h2>
          <p class="project-skills text-center">HTML5, Sass, JavaScript</p>
          <div class="img-wrapper text-center">
            <img class="post-image text-center" src="<%= asset_path( 'david-laptop.png' ) %>" alt="Pearson Dynamics Home Page" />
          </div>
          <p class="text-center">A resume website for an ocean engineer that features a responsive timeline.</p>
          <a href="http://pearsondynamics.co/" target="_blank"><p class="btn text-center">View Site</p></a>
        </div>

        <div class="project">
          <h2 class="project-title text-center">Simon Says</h2>
          <p class="project-skills text-center">HTML5, Sass, JavaScript</p>
          <div class="img-wrapper text-center">
            <img class="post-image text-center" src="<%= asset_path( 'simon.png' ) %>" alt="Pearson Dynamics Home Page" />
          </div>
          <p class="text-center">A resume website for an ocean engineer that features a responsive timeline.</p>
          <a href="#"><p class="btn text-center">View Site</p></a>
        </div>
      </div>

      <div class="col-6">
        <div class="project">
          <h2 class="project-title text-center">React Todo.</h2>
          <p class="project-skills text-center">HTML5, Sass, React</p>
          <div class="img-wrapper text-center">
            <img class="post-image text-center" src="<%= asset_path( 'todo.png' ) %>" alt="Pearson Dynamics Home Page" />
          </div>
          <p class="text-center">A resume website for an ocean engineer that features a responsive timeline.</p>
          <a href="#"><p class="btn text-center">View Site</p></a>
        </div>

        <div class="project">
          <h2 class="project-title text-center">Pomodoro Timer</h2>
          <p class="project-skills text-center">HTML5, Sass, JavaScript</p>
          <div class="img-wrapper text-center">
            <img class="post-image text-center" src="<%= asset_path( 'timer-laptop.png' ) %>" alt="Pearson Dynamics Home Page" />
          </div>
          <p class="text-center">A resume website for an ocean engineer that features a responsive timeline.</p>
          <a href="#"><p class="btn text-center">View Site</p></a>
        </div>

      </div>

      <div class="col-7">
        <div class="project">
          <h2 class="project-title text-center">Weather Me Up!</h2>
          <p class="project-skills text-center">HTML5, Sass, JavaScript/AJAX</p>
          <div class="img-wrapper text-center">
            <img class="post-image text-center" src="<%= asset_path( 'weather-app.png' ) %>" alt="Pearson Dynamics Home Page" />
          </div>
          <p class="text-center">A resume website for an ocean engineer that features a responsive timeline.</p>
          <a href="#"><p class="btn text-center">View Site</p></a>
        </div>

      </div>

    </div>
  </div><!-- end projects-wrapper-->
</section>
