<section id="projects">
  <div class="wrapper">
    <header>
        <h1 class="page-title text-center">Recent Projects</h1>
        <hr class="underline">
    </header>


    <div class="projects-wrapper clearfix">

      <div class="col-5 text-center">
        <div class="project">
          <h2 class="project-title">Instasnap</h2>
          <div class="img-wrapper">
            <img class="post-image text-center" src="<%= asset_path( 'portfolio/instasnap.png' ) %>" alt="Pearson Dynamics Home Page" />
          </div>
          <p>Haml, Sass, Rails, Rspec, S3</p>
          <a class="btn text-center" href="https://immense-inlet-13412.herokuapp.com/users/sign_in" target="_blank">View Site</a>
        </div>

        <div class="project">
          <h2 class="project-title">Arcara Psychiatry</h2>
          <div class="img-wrapper text-center">
            <img class="post-image text-center" src="<%= asset_path( 'portfolio/arcara.png' ) %>" alt="Arcara Peronsalized Psychiatry" />
          </div>
          <p>HTML5, Sass, React</p>
          <a class="btn text-center" href="http://www.arcarapsychiatry.com/" target="_blank">View Site</a>
        </div>

        <div class="project">
          <h2 class="project-title">React Todo.</h2>
          <div class="img-wrapper text-center">
            <img class="post-image text-center" src="<%= asset_path( 'portfolio/todo.png' ) %>" alt="Pearson Dynamics Home Page" />
          </div>
          <p>HTML5, Sass, React</p>
          <a class="btn text-center" href="http://young-tor-32593.herokuapp.com/" target="_blank">View Site</a>
        </div>

        <div class="project">
          <h2 class="project-title text-center">Simon Says</h2>
          <div class="img-wrapper text-center">
            <img class="post-image text-center" src="<%= asset_path( 'portfolio/simon.png' ) %>" alt="Pearson Dynamics Home Page" />
          </div>
          <p>HTML5, Sass, JavaScript</p>
          <a class="btn text-center" href="http://simonsaysso.bitballoon.com/" target="_blank">View Site</a>
        </div>


        <div class="project">
          <h2 class="project-title">Pearson Dynamics</h2>
          <div class="img-wrapper">
            <img class="post-image text-center" src="<%= asset_path( 'portfolio/pearson.png' ) %>" alt="Pearson Dynamics Home Page" />
          </div>
          <p>HTML5, Sass, JavaScript</p>
          <a class="btn text-center" href="http://pearsondynamics.co/" target="_blank">View Site</a>
        </div>

        <div class="project">
          <h2 class="project-title text-center">Tic-Tac-Toe</h2>
          <div class="img-wrapper text-center">
            <img class="post-image text-center" src="<%= asset_path( 'portfolio/MiniLapTop.png' ) %>" alt="Pearson Dynamics Home Page" />
          </div>
          <p class="text-center">HTML5, CSS3, JavaScript</p>
          <a class="btn text-center" href="http://tictactoed.bitballoon.com/" target="_blank">View Site</a>
        </div>



    </div>
  </div><!-- end projects-wrapper-->
</section>
