<%= form_for @post do |f| %>
  <!-- show errors if there are any -->
  <% if @post.errors.any? %>
    <h2><%= pluralize(@post.errors.count, "error") %> prevented this post from being saved.</h2>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <!-- end errors -->

  <%= f.label :title %><br />
  <%= f.text_field :title %>

  <br />
  <br />

  <%= f.label :content, "Write Content Here" %><br />
  <%= f.text_area :content %>

  <br />
  <br />

  <%= f.submit %>

<% end %>
