<header>
  <div class="wrapper">
    <%= link_to 'Back To Articles', posts_path, class:"back-to" %>

    <h1 class="page-title text-center"><%= @post.title %></h1>
    <hr class="underline">
  </div>
</header>

<div class="small-wrapper article-show">
  <div class="post">
    <p class="post-date text-center">Created on <%= @post.created_at.strftime('%A, %B, %d') %> by Christina</p>
    <br />
    <div class="post-description">
      <%= markdown @post.content %>
    </div>
    <br />
    <div class="share-box">
      <p>Share <span class="post-title-share">Learning To Code</span></p>
      <a onclick="javascript:window.open('http://www.facebook.com/sharer.php?u=<%= url_for([@post, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);">
        <i class="fa fa-facebook"></i>
      </a>

      <a onclick="javascript:window.open('http://twitter.com/share?text=<%= @post.title %> by @chrisreilly92 - &amp;url=<%= url_for([@post, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);">
        <i class="fa fa-twitter"></i>
      </a>
      <a onclick="javascript:window.open('https://plus.google.com/share?url=<%= url_for([@post, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-google-plus"></i></a>
    </div>
  </div>
  <br />
  <%= render 'disqus' %>
</div>


<br />
<br />



<%= link_to "Edit Post", edit_post_path(@post) %>
<%= link_to "Delete Post", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to delete this post?"} %>
