<!DOCTYPE html>
<html>
<head>
  <title>Christina Reilly | Web Developer | Ruby on Rails | Angular | Lafayette, LA</title>
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

  <link href='https://fonts.googleapis.com/css?family=Ubuntu:700,500' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if notice %>
     <p class="notice"><%= notice %></p>
   <% elsif alert %>
     <p class="alert"><%= alert %></p>
   <% end %>

<%= yield %>



  <footer>
    <div id="main_navigation" class="clearfix">
      <p class="copyright">&copy; <%= Date.today.year %> Christina Reilly</p>
      <nav>
        <%= link_to "Home", root_path %>
        <%= link_to "Projects", projects_path %>
        <%#= link_to "Articles", posts_path %>
        <%= link_to "About", about_path %>
        <%= link_to "Contact", new_contact_path %>
        <% if user_signed_in? %>
          <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
        <% end %>
      </nav>
    </div>
  </footer>

</body>
</html>
