<!DOCTYPE html>
<html>
<head>
  <title>Christina Reilly - Web Developer - Lafayette, LA</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

  <link href='https://fonts.googleapis.com/css?family=Ubuntu:700,500' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

  <footer>
    <div id="main_navigation" class="clearfix">
      <p class="copyright">&copy; 2016 Christina Reilly</p>
      <nav>
        <%= link_to "Home", root_path %>
        <a href="#">Projects</a>
        <%= link_to "Articles", posts_path %>
        <%= link_to "About", about_path %>
        <a href="contact.html">Contact</a>
      </nav>
    </div>
  </footer>

</body>
</html>
